/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/

// COLORS
$color-primary: #eb2f64;
$color-primary-light: #ff3366;
$color-primary-dark: #ba265d;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$color-black: #000;
$color-white: #fff;

// FONT CONTROL
$smaller-font-size: 0.8rem;
$small-font-size: 1.2rem;
$default-font-size: 1.6rem;
$normal-font-size: 1.4rem;
$medium-font-size: 3rem;
$big-font-size: 5rem;

// OTHER

$shadow-default: 0 1.5rem 4rem rgba($color-black, 0.15);
$shadow-description: 0 2rem 5rem rgba($color-black, 0.06);
$shadow-light: 0.5rem 1rem 2rem rgba($color-black, 0.2);
$shadow-link: 0 1rem 2rem rgba($color-black, 0.4);
$shadow-blurry: 0 2rem 6rem rgba($color-black, 0.3);

$line: 1px solid $color-grey-light-2;
