.btn-inline {
  border: none;
  color: $color-primary;
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;

  & span {
    margin-left: 3px;
    transition: margin-left 0.2s;
  }

  &:hover {
    color: $color-grey-dark-1;
    // animation: pulsate 1s infinite;

    span {
      margin-left: 8px;
    }
  }

  &:focus {
    outline: none;
  }
}
