.btn {
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 100px;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  color: $color-white;
  cursor: pointer;
  position: relative;
  overflow: hidden;

  & > * {
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all 0.2s;
    height: 100%;
    width: 100%;
  }

  &__visible {
    padding: 2rem 7.5rem;
  }

  &__invisible {
    position: absolute;
    padding: 2rem 0;
    left: 0;
    top: -100%;
  }

  &:hover {
    background-image: linear-gradient(
      to left,
      $color-primary-light,
      $color-primary-dark
    );
  }

  &:hover &__visible {
    transform: translateY(100%);
  }

  &:hover &__invisible {
    top: 0;
  }

  &:active {
    transform: translateY(-0.2rem);
  }
}

.btn-inline {
  border: none;
  color: $color-primary;
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;

  & span {
    margin-left: 3px;
    transition: margin-left 0.2s;
  }

  &:hover {
    color: $color-grey-dark-1;
    // animation: pulsate 1s infinite;

    span {
      margin-left: 8px;
    }
  }

  &:focus {
    outline: none;
  }
}
