.list {
  list-style-type: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: $line;
  border-bottom: $line;

  display: flex;
  flex-wrap: wrap;

  &__item {
    flex: 0 0 50%;
    margin-bottom: 0.7rem;

    @include media("<smallest") {
      font-size: 1.3rem;
    }
  }

  &__item::before {
    content: "";
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: 0.7rem;

    background-color: $color-primary;
    mask-image: url(../../commons/img/chevron-thin-right.svg);
    mask-size: cover;
  }
}

.recommend {
  font-size: 1.3rem;
  color: $color-grey-light-3;
  display: flex;
  align-items: center;

  &__friends {
    display: flex;
  }

  &__photo {
    box-sizing: content-box;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid $color-white;
  }
  &__photo:not(:last-child) {
    margin-right: -2rem;
  }

  &__count {
    margin-right: auto;
    color: $color-grey-dark-3;
  }
}

.review {
  background-color: $color-white;
  box-shadow: $shadow-light;
  padding: 3rem;
  margin-bottom: 3rem;
  position: relative;
  overflow: hidden;

  @include media("<medium") {
    padding: 2rem;
    margin-bottom: 3rem;
  }

  &__text {
    margin-bottom: 2rem;
    z-index: 2;
    position: relative;
  }

  &__user {
    display: flex;
    align-items: center;
  }

  &__photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    margin-right: 1.5rem;
  }

  &__user-box {
    margin-right: auto;
  }

  &__user-name {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.4rem;
  }

  &__user-date {
    font-size: 1rem;
    color: $color-grey-dark-3;
  }

  &__rating {
    color: $color-primary;
    font-size: 2.2rem;
    font-weight: 300;

    @include media("<small") {
      font-size: 0 1.5rem;
    }
  }

  &::before {
    z-index: 1;
    content: "\201C";
    position: absolute;
    top: -3.2rem;
    left: -1rem;
    font-size: 20rem;
    line-height: 1;
    color: $color-grey-light-2;
    font-family: sans-serif;
  }
}
