.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: $color-grey-light-2;
  box-shadow: $shadow-blurry;

  min-height: 50rem;
}

.content {
  display: flex;
}

.hotel-view {
  background-color: $color-white;
  height: 80rem;

  flex: 1;
}
