.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: $color-grey-light-2;
  box-shadow: $shadow-blurry;

  @include media("<largest") {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}

.content {
  display: flex;

  @include media("<medium") {
    flex-direction: column;
  }
}

.hotel-view {
  background-color: $color-white;

  flex: 1;
}

.detail {
  display: flex;
  padding: 4.5rem;
  background-color: $color-grey-light-1;
  border-bottom: $line;
  font-size: $normal-font-size;

  @include media("<medium") {
    padding: 3rem;
  }

  @include media("<small") {
    flex-direction: column;
  }
}

.description {
  background-color: $color-white;
  box-shadow: $shadow-description;
  padding: 3rem;
  flex: 0 0 60%;
  margin-right: 4.5rem;

  @include media("<medium") {
    padding: 2rem;
    margin-right: 3rem;
  }

  @include media("<small") {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}

.user-reviews {
  flex: 1;

  display: flex;
  flex-direction: column;

  align-items: center;
}
